<%= form_for(contact) do |f| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  
  <%= f.collection_check_boxes :contact_list_ids, ContactList.all, :id, :name %>
  <%= f.fields_for :contact_lists, contact.contact_lists.build do |contact_lists_fields| %>

  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
